<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NodeJS Login</title>
</head>
<body>
	<h1>Logged in!</h1>
	<div>
		<p>
			Current account: <%= user %>
		</p>
		<p>
			<a href="/account/logout">Logout</a><br />
			<a href="/account/delete">Delete account</a>
		</p>
	</div>
</body>
</html>