<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NodeJS Login</title>
</head>
<body>
	<h1>Sign up</h1>
	<form action="/account/signup" method="post" onsubmit="return checkForm()">
		<table>
			<tr>
				<td>ID</td>
				<td><input type="text" name="id" required /></td>
				<td><button type="button" onclick="checkID()">Check ID</button></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" required /></td>
			</tr>
			<tr>
				<td>Confirm password</td>
				<td><input type="password" name="confirmPassword" required /></td>
			</tr>
			<tr>
				<td colspan="3">
					<button type="submit">Sign up</button>
					<a href="/account/login">Login</a>
				</td>
			</tr>
		</table>
	</form>

	<script>
		let checked = false, unique = false;

		function checkID() {
			checked = true;

			const id = new FormData(document.forms[0]).get("id");

			if (!id) {
				alert("Please enter your ID.");
				return;
			}

			const xhr = new XMLHttpRequest();
			xhr.open("GET", "/account/checkid/" + id);
			xhr.send();
			xhr.onreadystatechange = () => {
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
						unique = JSON.parse(xhr.response).unique;

						if (unique) alert(`You can use ID '${id}'.`);
						else alert(`'${id}' is already using.`);
					} else if (xhr.status === 500) {
						alert("Error occurred.");
						console.error(xhr.response);
					}
				}
			}
		}

		function checkForm() {
			const formData = new FormData(document.forms[0]);
			const id = formData.get("id");
			const password = formData.get("password");
			const confirmPassword = formData.get("confirmPassword");

			if (!checked) alert("Please check your ID.");
			else if (!unique) alert(`'${id}' is already using.`);
			else if (password !== confirmPassword) alert("Password is incorrect.");
			else return true;

			return false;
		}
	</script>
</body>
</html>